$padding: 4px 8px;
$background: #dcdcdc;

.container {
  display: inline-block;
  position: relative;
  margin: 4px;
}

.dropdown {
  display: inline-block;
  padding: $padding;
  background: $background;
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}

.drop-arrow {
  display: inline-block;
  padding: $padding;
  background: $background;
  cursor: pointer;

  &:hover {
    background: darken($background, 10%);
  }
}

.list-container {
  position: absolute;
  background: $background;
  padding: 4px 0px;
  min-width: 100%;

  button {
    width: 100%;
    text-align: left;
  }
}
