$c-primary: #53a7e4;
$c-secondary: #0f0;

$c-white: #0e0e0e;
$c-white-10: lighten($c-white, 10%);
$c-white-20: lighten($c-white, 20%);
$c-white-30: lighten($c-white, 30%);
$c-white-40: lighten($c-white, 40%);
$c-white-50: lighten($c-white, 50%);

$c-black: #fff;
$c-black-10: darken($c-black, 10%);
$c-black-20: darken($c-black, 20%);
$c-black-30: darken($c-black, 30%);
$c-black-40: darken($c-black, 40%);
$c-black-50: darken($c-black, 50%);
