<div class="container flex flex-row"
     [style.left]="label.position.x + 'px'"
     [style.top]="label.position.y + 'px'"
     [class.selected]="selected"

     (dblclick)="onDblClick()">
  <div class="moveHandle flex flex-column" *ngIf="selected && !editing">
    <app-mouse-motion-capturer
      (mouseMoved)="mouseMoved($event)">
    </app-mouse-motion-capturer>

    <div class="flex flex-grow"></div>
    <app-icon class="flex">arrow-all</app-icon>
    <div class="flex flex-grow"></div>
  </div>

  <div class="innerContent flex flex-row">
    <sm-input class="flex"
              [hidden]="!editing"
              [(model)]="label.title">
    </sm-input>
    <span *ngIf="!editing"
          class="flex">
      {{ label.title }}
    </span>

    <sm-button></sm-button>
  </div>
</div>
