@import '~@angular/material/theming';
@mixin station-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .container.selected {
    background: transparentize(mat-color($primary), 0.9);
    border-color: mat-color($primary);
  }

  .moveHandle {
    background: transparentize(mat-color($primary), 0.2);
    border-color: mat-color($primary);
  }
}

@import "../../../style/theme";
@include station-theme($app-theme)

.container {
  position: absolute;
  z-index: 1100;

  border: 2px solid transparent;
  white-space: nowrap;
}

.innerContent {
  padding: 4px;
}

.moveHandle {
  position: absolute;
  left: -36px;
  top: -2px;
  box-sizing: content-box;
  height: 100%;
  color: #fff;
  width: 32px;
  border-width: 2px;
  border-style: solid;
  font-size: 1.6rem;
  text-align: center;
}
