@import '~@angular/material/theming';
@mixin station-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .container.selected {
    background: transparentize(mat-color($primary), 0.9);
    border-color: mat-color($primary);
  }
}

@import "../../../style/theme";
@include station-theme($app-theme)

.container {
  position: absolute;
  z-index: 100;

  border: 2px solid transparent;
  padding: 4px;

  white-space: nowrap;
}
