@import "style/theme";
@import "./style/layout";
@import "./style/animations";

@import "app/ui/button/button";

* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
}

button {
  border-radius: 0 !important;

  &.flat {
    box-shadow: none !important;
  }
}
