@import "../../../style/animations";
@import "../../../style/theme";

[appButton] {
  border: none;
  cursor: pointer;
  outline: none;
  transition: background $animation-length ease;

  color: $c-black;
  background: $c-white-20;
  padding: 4px 8px;

  &:hover {
    background: $c-white-40;
  }
}
